{% extends "csstats/base.html" %}

{% block content %}
{% for row in servers %}
<table align="center" cellpadding="0" cellspacing="0" class="shadow-light" width="920">
	<tr>
		<td>
			<table class="servers" width="100%">
				<tr>
					<th width="32%">Сервер</th>
					<th width="18%">Адрес</th>
					<th width="12%">Карта</th>
					<th width="10%">Сыграно</th>
					<th width="8%">Игроки</th>
					<th width="10%">Фраги</th>
					<th width="10%">Хэды</th>
				</tr>
				<tr>
					<td style="padding-left: 7px;"><img src="{{ static('i', 'games/_icons/cstrike') }}" alt="" /> <a href="{{ row.U_DETAILS }}"><b>{{ row.NAME }}</b></a></td>
					<td align="center">{{ row.ADDRESS }}</td>
					<td align="center"><a href="{{ row.U_MAP }}"><b>{{ row.MAP }}</b></a></td>
					<td align="center">{{ row.PLAYED }}</td>
					<td align="center">{{ row.NUMPLAYERS }}/{{ row.MAXPLAYERS }}</td>
					<td align="center">{{ row.KILLS }}</td>
					<td align="center">{{ row.HEADSHOTS }}</td>
				</tr>
			</table>
		</td>
	</tr>
	{% if row.NUMPLAYERS > 0 %}
	<tr>
		<td>
			<table class="servers" width="100%">
				<tr>
					<td align="center"><!-- <img src="/includes/csstats/graph.php?server_id={servers.ID}" alt="" width="900" height="200" /> --></td>
				</tr>
			</table>
		</td>
	</tr>
	{% endif %}
	<tr>
		<td>
			<table class="servers" width="100%">
				{% if row.NUMPLAYERS > 0 %}
				<tr>
					<th width="4%">#</th>
					<th align="left" width="28%">Игрок</th>
					<th style="border-right: 0;" width="3%">&nbsp;</th>
					<th colspan="3" style="border-left: 0;" width="10%">Фраги</th>
					<th width="6%">Хэды</th>
					<th width="6%">%хэдов</th>
					<th width="9%">Точность</th>
					<th width="6%">Пинг</th>
					<th width="10%">В игре</th>
					<th width="8%">+/-</th>
					<th width="10%">Очки</th>
				</tr>
				{% endif %}
				{% for row in row.t %}
				<tr align="center" class="t">
					<td>{{ row.N }}.</td>
					<td align="left" style="padding-left: 4px;">{% if not row.SPARK %}<img class="icons" src="{{ static('i', '_/globe_green') }}" alt="{{ row.IP }}" title="{{ row.IP }}" />{% endif %}<a href="{{ row.U_DETAILS }}"><b>{{ row.NAME }}</b></a></td>
					<td>{% if row.IS_DEAD %}<img src="{{ static('i', '_/skull') }}" alt="" title="" />{% elseif row.HAS_BOMB %}<img src="{{ static('i', '_/bomb') }}" alt="" />{% endif %}</td>
					<td align="right" width="4%">{{ row.KILLS }}</td>
					<td width="2%">:</td>
					<td align="left" width="4%">{{ row.DEATHS }}</td>
					<td>{{ row.HEADSHOTS }}</td>
					<td>{{ row.HPK }}</td>
					<td>{{ row.ACCURACY }}</td>
					<td>{{ row.PING }}</td>
					<td>{{ row.PLAYED }}</td>
					<td>{{ row.SKILL_CHANGE }}</td>
					<td>{{ row.SKILL }}</td>
				</tr>
				{% endfor %}
				{% if row.T_PLAYERS > 0 %}
				<tr align="center" class="t-overall">
					<td></td>
					<td align="left"><b>Террористы</b> (взяли раундов: <b>{{ row.T_WINS }}</b>)</td>
					<td></td>
					<td align="right">{{ row.T_KILLS }}</td>
					<td>:</td>
					<td align="left">{{ row.T_DEATHS }}</td>
					<td>{{ row.T_HEADSHOTS }}</td>
					<td>-</td>
					<td>-</td>
					<td>-</td>
					<td>-</td>
					<td>-</td>
					<td>{{ row.T_SKILL }}</td>
				</tr>
				{% endif %}
				{% for row in row.ct %}
				<tr align="center" class="ct">
					<td>{{ row.N }}.</td>
					<td align="left" style="padding-left: 4px;">{% if not row.SPARK %}<img class="icons" src="{{ static('i', '_/globe_green') }}" alt="{{ row.IP }}" title="{{ row.IP }}" />{% endif %}<a href="{{ row.U_DETAILS }}"><b>{{ row.NAME }}</b></a></td>
					<td>{% if row.IS_DEAD %}<img src="{{ static('i', '_/skull') }}" alt="" title="" />{% elseif row.HAS_BOMB %}<img src="{{ static('i', '_/bomb') }}" alt="" />{% endif %}</td>
					<td align="right" width="4%">{{ row.KILLS }}</td>
					<td width="2%">:</td>
					<td align="left" width="4%">{{ row.DEATHS }}</td>
					<td>{{ row.HEADSHOTS }}</td>
					<td>{{ row.HPK }}</td>
					<td>{{ row.ACCURACY }}</td>
					<td>{{ row.PING }}</td>
					<td>{{ row.PLAYED }}</td>
					<td>{{ row.SKILL_CHANGE }}</td>
					<td>{{ row.SKILL }}</td>
				</tr>
				{% endfor %}
				{% if row.CT_PLAYERS > 0 %}
				<tr align="center" class="ct-overall">
					<td></td>
					<td align="left" colspan="2"><b>Контр-террористы</b> (взяли раундов: <b>{{  row.CT_WINS }}</b>)</td>
					<td align="right">{{ row.CT_KILLS }}</td>
					<td>:</td>
					<td align="left">{{ row.CT_DEATHS }}</td>
					<td>{{ row.CT_HEADSHOTS }}</td>
					<td>-</td>
					<td>-</td>
					<td>-</td>
					<td>-</td>
					<td>-</td>
					<td>{{ row.CT_SKILL }}</td>
				</tr>
				{% endif %}
				{% for row in row.s %}
				<tr align="center">
					<td>{{ row.N }}.</td>
					<td align="left" style="padding-left: 4px;">{% if not row.SPARK %}<img class="icons" src="{{ static('i', '_/globe_green') }}" alt="{{ row.IP }}" title="{{ row.IP }}" />{% endif %}<a href="{{ row.U_DETAILS }}"><b>{{ row.NAME }}</b></a></td>
					<td><img src="{{ static('i', '_/eye') }}" alt="" /></td>
					<td align="right" width="4%">{{ row.KILLS }}</td>
					<td width="2%">:</td>
					<td align="left" width="4%">{{ row.DEATHS }}</td>
					<td>{{ row.HEADSHOTS }}</td>
					<td>{{ row.HPK }}</td>
					<td>{{ row.ACCURACY }}</td>
					<td>{{ row.PING }}</td>
					<td>{{ row.PLAYED }}</td>
					<td>{{ row.SKILL_CHANGE }}</td>
					<td>{{ row.SKILL }}</td>
				</tr>
				{% endfor %}
				{% if row.NUMPLAYERS == 0 %}
				<tr>
					<td colspan="13" style="padding: 6px;">На сервере нет игроков</td>
				</tr>
				{% endif %}
			</table>
		</td>
	</tr>
</table>

<br />
{% endfor %}
{% endblock %}