{% extends "csstats/base.html" %}

{% block content %}
{{ weapons.length }}

{% if TOTAL_WEAPONS > 0 %}
<table align="center" class="data shadow-light" width="800">
	<thead>
	<tr>
		<th width="25%">Оружие</th>
		<th width="15%">Множитель</th>
		<th width="20%">
			<a href="{{ U_SORT_KILLS }}">Фраги</a>
			{% if SORT_KEY == 'a' %}
			<img src="{{ hostname() }}/i/_/arrow_{{ SORT_DIR == 'd' ? '270' : '090' }}_medium.png" alt="" />
			{% endif %}
		</th>
		<th width="20%">
			<a href="{{ U_SORT_HEADSHOTS }}">Хэды</a>
			{% if SORT_KEY == 'b' %}
			<img src="{{ hostname() }}/i/_/arrow_{{ SORT_DIR == 'd' ? '270' : '090' }}_medium.png" alt="" />
			{% endif %}
		</th>
		<th width="20%">
			<a href="{{ U_SORT_HPK }}">%хэдов</a>
			{% if SORT_KEY == 'c' %}
			<img src="{{ hostname() }}/i/_/arrow_{{ SORT_DIR == 'd' ? '270' : '090' }}_medium.png" alt="" />
			{% endif %}
		</th>
	</tr>
	</thead>
	<tbody>
	{% for row in weapons %}
	<tr align="center" class="{{ cycle(['row1', ''], loop.index) }}">
		<td><a href="{{ row.U_WEAPONINFO }}"><img src="{{ hostname() }}/i/games/cstrike/weapons/{{ row.CODE }}.png" alt="{{ row.NAME }}" title="{{ row.NAME }}" /></a></td>
		<td>{{ row.MF }}</td>
		<td>{{ row.KILLS }}</td>
		<td>{{ row.HEADSHOTS }}</td>
		<td>{{ row.HPK }}</td>
	</tr>
	{% endfor %}
	</tbody>
</table>
{% else %}
<div align="center">Нет данных для отображения.</div>
{% endif %}
{% endblock %}