{% extends "csstats/base.html" %}

{% block content %}
<div class="b-center" style="width: 800px;">
	<table align="center" cellpadding="8" cellspacing="0" width="100%">
		<tr>
			<td><img src="{{ static('i', 'games/cstrike/weapons/' ~ CODE) }}" alt="{{ CODE }}" title="{{ CODE }}" /></td>
			<td valign="top" width="100%">
				<h2>{{ NAME }}</h2>
				<p>Фрагов: <b>{{ KILLS }}</b> | Хэдов: <b>{{ HEADSHOTS }}</b>{% if HEADSHOTS > 0 %} ({{ HPK }}){% endif %}</p>
			</td>
		</tr>
	</table>

	<br />

	<table align="center" class="data shadow-light" width="100%">
		<tr>
			<th width="40%">Игрок</th>
			<th width="20%">Фраги</th>
			<th width="20%">Хэды</th>
			<th width="20%">%хэдов</th>
		</tr>
		{% for row in players %}
		<tr align="center" class="{{ cycle(['row1', ''], loop.index) }}">
			<td align="left"><a href="{{ row.U_PLAYERINFO }}"><b>{{ row.NAME }}</b></a></td>
			<td>{{ row.KILLS }}</td>
			<td>{{ row.HEADSHOTS }}</td>
			<td>{{ row.HPK }}</td>
		</tr>
		{% else %}
		<tr align="center">
			<td colspan="4">Нет данных для отображения.</td>
		</tr>
		{% endfor %}
	</table>
	<br />
	Данные по игрокам за последние 3 недели.
</div>
{% endblock %}