{extends "memcache_base.html"}

{block "content"}
<table class="table-stats b-center">
	<thead>
	<tr>
		<th>Entry Label</th>
		<th>Size</th>
		<th>Expire on</th>
		<th>Delete</th>
	</tr>
	</thead>
	<tbody>
	{foreach $vars as $row}
		<tr>
			<td><a href="{'item'|url_for}?key={$row@key}">{$row@key}</a></td>
			<td>{$row.SIZE|humn_size}</td>
			<td>{$row.EXPIRE}</td>
			<td class="text-center"><a href="{'delete'|url_for}?key={$row@key}"><img src="{$T_STATIC}/i/_/cross.png" alt=""></a></td>
		</tr>
	{/foreach}
	</tbody>
</table>
{/block}