{extends "base.html"}

{block "content_header"}
<div class="row">
	<div class="span4">
		<p>Немного статистики</p>
	</div>
	<div class="span12">
		{include "block/submenu.html"}
{/block}

{block "content_footer"}
	</div>
</div>

<script>
$(function() {
  $('a[rel^="quote_vote"]').click(function() {
    $(this).blur();
    id = $(this).attr('id');
    $.post(encodeURI($(this).attr('href')), function(response) { $('#q' + id).html(response.votes); }, 'json');
    return false;
  });
});
</script>
{/block}