{% extends "memopu3_base.html" %}

{% block content %}
{% include "block/pagination_top.html" %}

<div id="quotes">
{% if page.handler_method == 'index' %}<p></p>{% endif %}
{% for row in quotes %}
	<div class="q">
		<div class="vote">
			<p><img class="icons" src="{{ static('i', '_/receipt_text') }}" alt="" />
			<a href="{{ row.U_DETAILS }}"><b>{{ row.ID }}</b></a>
			[ &nbsp;<a href="{{ row.U_PLUS }}" id="{{ row.ID }}" rel="quote_vote_up"><img class="icons" src="{{ static('i', '_/plus') }}" alt="" /></a> &nbsp;<span id="q{{ row.ID }}">{{ row.VOTES }}</span>&nbsp; <a href="{{ row.U_MINUS }}" id="{{ row.ID }}" rel="quote_vote_down"><img class="icons" src="{{ static('i', '_/minus') }}" alt="" /></a>&nbsp; ]
			опубликована {{ row.TIME }}, <a href="{{ row.U_DETAILS }}">{{ row.COMMENTS }}</a></p>
		</div>
		<blockquote>
			<p>{{ row.TEXT }}</p>
		</blockquote>
	</div>
	<p></p>
{% endfor %}
</div>

{% include "block/pagination_bottom.html" %}
{% endblock %}