{extends "memopu3_base.html"}

{block "content"}
<div id="quotes">
	<div class="q">
		<div class="vote">
			<img class="icons" src="{$T_STATIC}/i/_/receipt_text.png" alt="">
			<a href="{$U_DETAILS}"><b>{$ID}</b></a>
			[ &nbsp;<a href="{$U_PLUS}" id="{$ID}" rel="quote_vote_up"><img class="icons" src="{$T_STATIC}/i/_/plus.png" alt=""></a> &nbsp;<span id="q{$ID}">{$VOTES}</span>&nbsp; <a href="{$U_MINUS}" id="{$ID}" rel="quote_vote_down"><img class="icons" src="{$T_STATIC}/i/_/minus.png" alt=""></a>&nbsp; ]
			опубликована {$TIME}, {$COMMENTS|declension:'COMMENTS'}
		</div>
		<div class="shadow-light">{$TEXT}</div>
	</div>
</div>
{/block}