{% extends "memopu3_base.html" %}

{% block content %}
<div id="quotes">
	<div class="q">
		<div class="vote">
			<img class="icons" src="//ivacuum.org/i/_/receipt_text.png" alt="" />
			<a href="{{ U_DETAILS }}"><b>{{ ID }}</b></a>
			[ &nbsp;<a href="{{ U_PLUS }}" id="{{ ID }}" rel="quote_vote_up"><img class="icons" src="//ivacuum.org/i/_/plus.png" alt="" /></a> &nbsp;<span id="q{{ ID }}">{{ VOTES }}</span>&nbsp; <a href="{{ U_MINUS }}" id="{{ ID }}" rel="quote_vote_down"><img class="icons" src="//ivacuum.org/i/_/minus.png" alt="" /></a>&nbsp; ]
			опубликована {{ TIME }}, {{ COMMENTS }}
		</div>
		<div class="shadow-light">{{ TEXT }}</div>
	</div>

	{% if S_ACP %}
		<h2 id="show_quote_votes_log" style="cursor: pointer;">Лог голосов</h2>
		<div id="quote_votes_log" style="display: none;">
		{% for row in votes %}
			<p id="vote{{ row.ID }}">
				<img class="icons" src="//ivacuum.org/i/_/balloon_left_minus.png" alt="" rel="vote_remove" id="{{ row.ID }}" />
				<img class="icons" src="//ivacuum.org/i/_/icon_{{ row.TYPE }}.png" alt="" /> &nbsp;
				<img class="icons" src="//ivacuum.org/i/_/user_black.png" alt="" />{{ row.USER }} ({{ row.IP }})
				<img class="icons" src="//ivacuum.org/i/_/calendar_day.png" alt="" />{{ row.TIME }}
			</p>
		{% endfor %}
		<hr class="dashed" />
		{% for row in votes_guest %}
			<p id="vote{{ row.ID }}"><img class="icons" src="//ivacuum.org/i/_/balloon_left_minus.png" alt="" rel="vote_remove" id="{{ row.ID }}" /> <span class="icons icon-{{ row.TYPE }}"></span> &nbsp; <img class="icons" src="//ivacuum.org/i/_/user_guest.png" alt="" /></span>{{ lang('GUEST') }} ({{ row.IP }}) <img class="icons" src="//ivacuum.org/i/_/calendar_day.png" alt="" />{{ row.TIME }}</p>
		{% endfor %}
	{% endif %}
	</div>
</div>

{% if S_ACP %}
<script type="text/javascript">
$(document).ready(function() {
  $('img[rel="vote_remove"]').click(function() {
    vote_id = $(this).attr('id');
    $.post(encodeURI('{{ U_DETAILS }}'), { mode: 'vote_remove', vote_id: vote_id }, function(response) {
      if (response.success) {
        $('#vote' + vote_id).fadeOut('slow');
        $('#q' + response.quote_id).html(response.votes);
      }
    }, 'json');
  }).hover(function() {
    $(this).css('cursor', 'pointer');
  }, function() {
    $(this).css('cursor', 'default');
  });

  $('#show_quote_votes_log').click(function() {
    $('#quote_votes_log').toggle('fast');
  });
});
</script>
{% endif %}
{% endblock %}