{% extends "base.html" %}

{% block content %}
<div class="row">
	<div class="span12">
		<h2>{{ TITLE }}</h2>
		<div class="row">
			<div class="span8">
				{{ TEXT }}
			</div>
			<div class="span4">
				<div class="well">
					<p><img src="//ivacuum.org/i/_/calendar_day.png" alt=""> {{ TIME }}</p>
					<p><img src="//ivacuum.org/i/_/eye.png" alt=""> {{ VIEWS }}</p>
					<p><img src="//ivacuum.org/i/_/balloons.png" alt=""> {{ COMMENTS }}</p>
					<p><img src="//ivacuum.org/i/_/user_black.png" alt=""> {{ AUTHOR }}</p>
				</div>
			</div>
		</div>
	</div>
</div>

{#% include "comments.html" %#}
{% endblock %}