{extends "base.html"}

{block "content"}
{include "block/pagination_top.html"}

<div class="row">
	<div class="span8">
		{foreach $news as $row}
			<h2><a href="{'news::single'|url_for:[row.TIME|date_format:'%Y', row.TIME|date_format:'%m', row.TIME|date_format:'%d', row.URL]}">{$row.TITLE}</a></h2>
			<ul class="inline">
				<li class="muted"><img src="//ivacuum.org/i/_/calendar_day.png" alt=""> {$row.DATE}</li>
				<li class="muted"><img src="//ivacuum.org/i/_/user_black.png" alt=""> <a href="{'users::profile'|url_for:[row.USER_ID]}">{$row.USERNAME}</a></li>
				<!--
				<li class="muted"><img src="//ivacuum.org/i/_/eye.png" alt=""> {$row.VIEWS|declension:'VIEWS'}</li>
				<li class="muted"><img src="//ivacuum.org/i/_/balloons.png" alt=""> {$row.COMMENTS|declension:'COMMENTS'}</li>
				-->
			</ul>
			<div>{$row.TEXT}</div>
			<br>
		{else}
			<h3>Новостей за выбранный период нет.</h3>
		{/foreach}
	</div>
	<div class="span4">
		{if not empty($most_viewed_news)}
			<div class="page-header">
				<h3>Самые интересные</h3>
			</div>
			<ol class="list-indent">
				{foreach $most_viewed_news as $row}
					<li>
						<a href="{'news::single'|url_for:[row.TIME|date_format:'%Y', row.TIME|date_format:'%m', row.TIME|date_format:'%d', row.URL]}">{$row.TITLE}</a> <span class="badge badge-info">{$row.VIEWS|number_format}</span><br>
						<small class="muted">{$row.DATE}</small>
					</li>
				{/foreach}
			</ol>
		{/if}
		{if not empty($most_discussed_news)}
			<div class="page-header">
				<h3>Самые обсуждаемые</h3>
			</div>
			<ol class="list-indent">
				{foreach $most_discussed_news as $row}
					<li>
						<a href="{'news::single'|url_for:[row.TIME|date_format:'%Y', row.TIME|date_format:'%m', row.TIME|date_format:'%d', row.URL]}">{$row.TITLE}</a> <span class="badge badge-warning">{$row.COMMENTS|number_format}</span><br>
						<small class="muted">{$row.DATE}</small>
					</li>
				{/foreach}
			</ol>
		{/if}
	</div>
</div>

{include "block/pagination_bottom.html"}
{/block}