{% extends "base.html" %}

{% block content %}
<div class="row">
	<div class="span8">
		{% for row in news %}
			<h2>{{ row.TITLE }}</h2>
			<ul class="inline">
				<li class="muted"><img src="//ivacuum.org/i/_/calendar_day.png" alt=""> {{ row.DATE }}</li>
				<li class="muted"><img src="//ivacuum.org/i/_/user_black.png" alt=""> <a href="{{ url_for('users::profile', [row.USER_ID]) }}">{{ row.USERNAME }}</a></li>
				<li class="muted"><img src="//ivacuum.org/i/_/eye.png" alt=""> {{ plural(row.VIEWS, 'VIEWS') }}</li>
				<li class="muted"><img src="//ivacuum.org/i/_/balloons.png" alt=""> {{ plural(row.COMMENTS, 'COMMENTS') }}</li>
			</ul>
			<div>{{ row.TEXT }}</div>
		{% endfor %}
	</div>
</div>

{#% include "comments.html" %#}
{% endblock %}