{extends "base.html"}

{block "content"}
<div class="row">
	<div class="span8">
		{foreach $news as $row}
			<h2>{$row.TITLE}</h2>
			<ul class="inline">
				<li class="muted"><img src="{$T_STATIC}/i/_/calendar_day.png" alt=""> {$row.DATE}</li>
				<li class="muted"><img src="{$T_STATIC}/i/_/user_black.png" alt=""> <a href="{'users::profile'|url_for:[$row.USER_ID]}">{$row.USERNAME}</a></li>
				<li class="muted"><img src="{$T_STATIC}/i/_/eye.png" alt=""> {$row.VIEWS|declension:'VIEWS'}</li>
				<li class="muted"><img src="{$T_STATIC}/i/_/balloons.png" alt=""> {$row.COMMENTS|declension:'COMMENTS'}</li>
			</ul>
			<div>{$row.TEXT}</div>
		{/foreach}
	</div>
</div>

{*include "comments.html"*}
{/block}