{% extends "base.html" %}

{% block content %}
<div class="row">
	<div class="span12">
		<h2>{{ TITLE }}</h2>
		<div class="row">
			<div class="span8">
				{{ TEXT }}
			</div>
			<div class="span4">
				<div class="well">
					<p><img src="{{ static('i', '_/calendar_day') }}" alt=""> {{ TIME }}</p>
					<p><img src="{{ static('i', '_/eye') }}" alt=""> {{ VIEWS }}</p>
					<p><img src="{{ static('i', '_/balloons') }}" alt=""> {{ COMMENTS }}</p>
					<p><img src="{{ static('i', '_/user_black') }}" alt=""> {{ AUTHOR }}</p>
				</div>
			</div>
		</div>
	</div>
</div>

{#% include "comments.html" %#}
{% endblock %}