{% extends "base.html" %}

{% block content %}
<div class="row">
	<div class="span4">
		<div>
			<p class="f-left"><img src="{{ static('i', 'services/torrent') }}" alt="" style="margin-right: 0.6em;"></p>
			<h2>Торрент-трекер</h2>
			<p><a href="//t.ivacuum.ru/">Перейти на сайт трекера &rarr;</a></p>
		</div>
		<br style="clear: both;">
		<p>Наглядный сервис для обмена файлами внутри локальной сети Билайн с возможностью комментирования раздач.</p>
		<p>Особенности:</p>
		<ul>
			<li>обсуждение раздач;</li>
			<li>обмен на высокой скорости;</li>
			<li>отсутствие ограничений по рейтингу;</li>
			<li>и многое другое...</li>
		</ul>
		<p>Дата запуска: 5 июля 2010 г.</p>
	</div>
	<div class="span4">
		<div>
			<p class="f-left"><img src="{{ static('i', 'services/retracker') }}" alt="" style="margin-right: 0.6em;"></p>
			<h2>Ретрекер</h2>
			<p><a href="//retracker.ivacuum.ru/">Перейти на сайт ретрекера &rarr;</a></p>
		</div>
		<br style="clear: both;">
		<p>Сервис, позволяющий ускорить совместную закачку файлов из сети интернет для абонентов Билайн.</p>
		<p>Особенности:</p>
		<ul>
			<li>работает по адресу retracker.local;</li>
			<li>интервал анонса &mdash; всего 5 минут.</li>
		</ul>
		<p>Дата запуска: 10 июля 2010 г.</p>
	</div>
	<div class="span4">
		<div>
			<p class="f-left"><img src="{{ static('i', 'services/upload') }}" alt="" style="margin-right: 0.6em;"></p>
			<h2>Загрузка файлов</h2>
			<p><a href="//up.ivacuum.ru/">Перейти на сайт сервиса &rarr;</a></p>
		</div>
		<br style="clear: both;">
		<p>Сервис загрузки изображений в галерею для последующего использования на трекере.</p>
		<p>Особенности:</p>
		<ul>
			<li>загрузка до 10 изображений одновременно;</li>
			<li>получение ссылок для публикации на трекере;</li>
			<li>масштабирование и создание превью.</li>
		</ul>
		<p>Дата запуска: 8 февраля 2009 г.</p>
	</div>
</div>

<br>

<div class="row">
	<div class="span4">
		<div>
			<p class="f-left"><img src="{{ static('i', 'services/gallery') }}" alt="" style="margin-right: 0.6em;"></p>
			<h2>Галерея</h2>
			<p><a href="/галерея/">Перейти на страницу галереи &rarr;</a></p>
		</div>
		<br style="clear: both;">
		<p>Хранилище изображений, которые вы когда-либо загружали.</p>
		<p>Особенности:</p>
		<ul>
			<li>учет показов изображений;</li>
			<li>получение ссылок на уже загруженные картинки;</li>
			<li>отображение специальной метки, если файл скоро будет удален.</li>
		</ul>
		<p>Дата запуска: 8 февраля 2009 г.</p>
	</div>
	<div class="span4">
		<div>
			<p class="f-left"><img src="{{ static('i', 'services/commfort') }}" alt="" style="margin-right: 0.6em"></p>
			<h2>Чат Commfort</h2>
			<p><a href="/софт/commfort/">Перейти на страницу чата &rarr;</a></p>
		</div>
		<br style="clear: both;">
		<p>Текстовый чат с возможностью публикации картинок и передачи файлов.</p>
		<p>Особенности:</p>
		<ul>
			<li>создание тематических каналов;</li>
			<li>прямая передача файлов на максимальной скорости;</li>
			<li>доска объявлений.</li>
		</ul>
		<p>Дата запуска: 27 июля 2008 г.</p>
	</div>
	<div class="span4">
		<div>
			<p class="f-left"><img src="{{ static('i', 'services/dcpp') }}" alt="" style="margin-right: 0.6em;"></p>
			<h2>ArtFly.DC++</h2>
			<p><a href="//dc.ivacuum.ru/">Перейти на сайт проекта &rarr;</a></p>
		</div>
		<br style="clear: both;">
		<p>Большая коллекция русских DC++ клиентов.</p>
		<p>Особенности:</p>
		<ul>
			<li>есть FAQ с ответами на самые частозадаваемые вопросы;</li>
			<li>у большинства клиентов есть русская сборка или русификатор;</li>
			<li>представлены клиенты для трёх самых популярных платформ.</li>
		</ul>
		<p>Дата запуска: 17 марта 2008 г.</p>
	</div>
</div>

<!-- <p>&nbsp;</p>

<div class="row">
	<div class="span-one-third">
		<h2><img src="{{ static('i', 'services/csstats') }}" alt=""> Статистика CS</h2>
		<br>
		<p><a class="btn primary" href="/csstats/">Перейти на страницу статистики &rarr;</a></p>
		<p>Статистика для игры Counter-Strike 1.6.</p>
		<p>Особенности:</p>
		<ul>
			<li>ведение статистики игроков;</li>
			<li>мониторинг серверов;</li>
			<li>единый банлист для всех серверов;</li>
			<li>просмотр истории игр;</li>
			<li>ведение игрового чата, игровых событий, популярности карт и оружия.</li>
		</ul>
		<p>Дата запуска: 15 августа 2009 г.</p>
	</div>
	<div class="span-one-third">
		<h2><img src="{{ static('i', 'services/joystick') }}" alt=""> Игры</h2>
		<br>
		<p><a class="btn primary" href="/игры/">Перейти к списку игр &rarr;</a></p>
		<p>Мониторинг игровых серверов различных сетевых игр. Инструкции к подключению.</p>
		<p>Особенности:</p>
		<ul>
			<li>отображение количества игроков на сервере и текущей карты (при возможности);</li>
			<li>ссылки на загрузку необходимых файлов;</li>
			<li>инструкции по настройке клиента игры для подключения к игровым серверам.</li>
		</ul>
		<p>Дата запуска: 21 октября 2008 г.</p>
	</div>
	<div class="span-one-third">
		<h2><img src="{{ static('i', 'services/notepad') }}" alt=""> Мемориз</h2>
		<br>
		<p><a class="btn primary" href="/memopu3/">Перейти на страницу цитатника &rarr;</a></p>
		<p>Сборник смешных и памятных цитат из чатов.</p>
		<p>Особенности:</p>
		<ul>
			<li>добавление и комментирование цитат зарегистрированными пользователями;</li>
			<li>оценка цитат посетителями;</li>
			<li>цитаты могут содержать изображения.</li>
		</ul>
		<p>Дата запуска: 8 августа 2007 г.</p>
	</div>
</div> -->

<!-- <legend>Баг-трекер</legend>
<a href="//bugs.ivacuum.ru/"><img src="{{ static('i', 'services/bugs') }}" alt="" /></a>
<p>Адрес: <a href="//bugs.ivacuum.ru/"><b>bugs.ivacuum.ru</b></a></p>
<p>Сервис для учета и хранения задач, которые необходимо выполнить.</p>
<p>Особенности:</p>
<ul>
	<li>присваивание задаче типа и статуса;</li>
	<li>закрепление задачи за человеком;</li>
	<li>обсуждение задач;</li>
	<li>добавление заданий пользователями.</li>
</ul>
<p>Дата запуска: 12 мая 2009 г.</p> -->

<!-- <legend>Голосовой чат (в разработке)</legend>
<img src="{{ static('i', 'services/teamspeak') }}" alt="" />
<p>Адрес: <b>ts.ivacuum.ru</b></p>
<p>Голосовой чат TeamSpeak 3.</p>
<p>Особенности:</p>
<ul>
	<li>высокое качество звука;</li>
	<li>создание постоянных каналов;</li>
	<li>до 512 подключений;</li>
</ul>
<p>Дата запуска: 27 июля 2008 г.</p> -->

<!-- <legend>Бойцовский клуб (в разработке)</legend>
<img src="{{ static('i', 'services/fc') }}" alt="" />
<p>Адрес: <b>combats.ivacuum.ru</b></p>
<p>Браузерная онлайн-RPG.</p>
<p>Дата запуска: 10 ноября 2004 г.</p> -->

<!-- <legend>Jabber-чат (в разработке)</legend>
<img src="{{ static('i', 'services/jabber') }}" alt="" />
<p>Адрес: <b>jabber.ivacuum.ru</b></p>
<p>Текстовый чат на основе протокола XMPP.</p>
<p>Дата запуска: &mdash;</p> -->
{% endblock %}