{% if S_WHO_IS_ONLINE %}
<fieldset class="ui-corner-all">
	<legend><a href="{{ U_STATS }}">{{ lang('STATS') }}</a></legend>
	{{ lang('STAT_NEWS') }}: <img class="icons" src="//ivacuum.org/i/_/newspapers.png" alt="" /><b>{{ STAT_NEWS }}</b><br />
	{{ lang('STAT_COMMENTS') }}: <img class="icons" src="//ivacuum.org/i/_/balloons.png" alt="" /><b>{{ STAT_COMMENTS }}</b><br />
	{{ lang('STAT_USERS') }}: <img class="icons" src="//ivacuum.org/i/_/users.png" alt="" /><b>{{ STAT_USERS }}</b><br />
	{{ lang('NEWEST_USER') }}: <img class="icons" src="//ivacuum.org/i/_/user_guest.png" alt="" /><b>{{ NEWEST_USER }}</b>
</fieldset>
{% endif %}