{extends "ucp_base.html"}

{block "content"}
<h1></h1>
<div class="boxed-group">
	<h3>{$page.page_name}</h3>
	<div class="boxed-group-inner">
		{$page.page_text}
		<form action="{'password'|url_for}" class="form-horizontal" method="post">
			<div class="control-group">
				<label class="control-label" for="old_password_field">Старый пароль</label>
				<div class="controls">
					<input type="password" id="old_password_field" name="old_password" tabindex="1">
					<span class="help-block"><a href="/">{'FORGOT_PASSWORD'|i18n}</a></span>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="password_field">Новый пароль</label>
				<div class="controls">
					<input type="password" id="password_field" name="password" tabindex="2">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="password_confirmation_field">Повторите новый пароль</label>
				<div class="controls">
					<input type="password" id="password_confirmation_field" name="password_confirmation" tabindex="3">
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<button class="btn btn-primary" type="submit" name="submit" tabindex="4">Сменить пароль</button>
				</div>
			</div>
		</form>
	</div>
</div>
{/block}