{extends "ucp_base.html"}

{block "content"}
{if not empty($errors)}
	<div class="alert alert-error" data-dismiss="alert">
		<a class="close" href="#">&times;</a>
		<h4 class="alert-heading">Не удалось сохранить изменения</h4>
		<ul>
			{foreach $errors as $row}
				<li>{$row}</li>
			{/foreach}
		</ul>
	</div>
{/if}
{if not empty($status) and $status == 'OK'}
	<div class="alert alert-success" data-dismiss="alert">
		<a class="close" href="#">&times;</a>
		Ваш пароль обновлен.
	</div>
{/if}

<div class="boxed-group">
	<h3>{$page.page_name}</h3>
	<div class="boxed-group-inner">
		{$page.page_text}
		<form action="{'password'|url_for}" class="form-horizontal" method="post">
			<div class="control-group">
				<label class="control-label" for="old_password_field">Текущий пароль</label>
				<div class="controls">
					<input type="password" id="old_password_field" name="old_password" tabindex="1">
					<span class="help-block"><a href="{'ucp\auth::sendpassword'|url_for}">{'FORGOT_PASSWORD'|i18n}</a></span>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="password_field">Новый пароль</label>
				<div class="controls">
					<input type="password" id="password_field" name="password" tabindex="2">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="password_confirmation_field">Повторите новый пароль</label>
				<div class="controls">
					<input type="password" id="password_confirmation_field" name="password_confirmation" tabindex="3">
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<button class="btn btn-primary" type="submit" name="submit" tabindex="4">Сменить пароль</button>
				</div>
			</div>
		</form>
	</div>
</div>
{/block}