{extends "base.html"}

{block "content"}
<div class="row">
	<div class="span3">
		<h3>Профиль</h3>
		<ul class="unstyled">
			<li><img src="{$T_STATIC}/i/_/calendar_day.png" alt=""> {$REGDATE}</li>
			<li><img src="{$T_STATIC}/i/_/balloons.png" alt=""> {$COMMENTS}</li>
			<li><img src="{$T_STATIC}/i/_/eye.png" alt=""> {$LASTVISIT|default:('NEVER'|i18n)}</li>
		</ul>
		<h3>Контактная информация</h3>
		<ul class="unstyled">
			<li><img src="{$T_STATIC}/i/_/icq.png" alt=""> {($ICQ != 0) ? $ICQ : '&mdash;'}</li>
			<li><img src="{$T_STATIC}/i/_/light_bulb.png" alt=""> {$JID|default:'&mdash;'}</li>
		</ul>
		<h3>О себе</h3>
		<h6>Откуда</h6>
		<p>{$FROM|default:'&mdash;'}</p>
		<h6>Род занятий</h6>
		<p>{$OCCUPATION|default:'&mdash;'}</p>
		<h6>Интересы</h6>
		<p>{$INTERESTS|default:'&mdash;'}</p>
	</div>
	<div class="span9">
		<p><img src="{$T_STATIC}/i/_/status_{($ONLINE) ? 'online' : 'offline'}.png" alt=""> {$USERNAME}</p>
		{if $RANK_IMG}
			<p><img src="{$T_STATIC}/i/ranks/{$RANK_IMG}" alt="">{if $RANK_TITLE}<br>{$RANK_TITLE}{/if}</p>
		{/if}
	</div>
</div>
{/block}