{extends "base.html"}

{block "content"}
{if $LOGIN_ERROR}
	<div class="alert alert-error" data-dismiss="alert">
		<a class="close" href="#">&times;</a>
		<ul>
			<li>{$LOGIN_ERROR}</li>
		</ul>
	</div>
{elseif $LOGIN_EXPLAIN}
	<div class="alert alert-error" data-dismiss="alert">
		<a class="close" href="#">&times;</a>
		{$LOGIN_EXPLAIN}
	</div>
{/if}

<div class="boxed-group form-signin">
	<h3>{'LOGIN'|i18n}</h3>
	<div class="boxed-group-inner">
		<p>Есть учетная запись в одном из этих сервисов? Войдите на сайт в один клик!</p>
		<div class="text-center">
			{if $url = '\fw\modules\ucp\oauth\facebook::index'|url_for}
				<a href="{$url}" class="tip" title="Facebook"><img src="{$T_STATIC}/i/openid/48/facebook.png" alt=""></a>
			{/if}
			{if $url = '\fw\modules\ucp\oauth\github::index'|url_for}
				<a href="{$url}" class="tip" title="GitHub"><img src="{$T_STATIC}/i/openid/48/github.png" alt=""></a>
			{/if}
			{if $url = '\fw\modules\ucp\oauth\google::index'|url_for}
				<a href="{$url}" class="tip" title="Google"><img src="{$T_STATIC}/i/openid/48/google.png" alt=""></a>
			{/if}
			{if $url = '\fw\modules\ucp\oauth\instagram::index'|url_for}
				<a href="{$url}" class="tip" title="Instagram"><img src="{$T_STATIC}/i/openid/48/instagram.png" alt=""></a>
			{/if}
			{if $url = '\fw\modules\ucp\oauth\twitter::index'|url_for}
				<a href="{$url}" class="tip" title="Twitter"><img src="{$T_STATIC}/i/openid/48/twitter.png" alt=""></a>
			{/if}
			{if $url = '\fw\modules\ucp\oauth\vk::index'|url_for}
				<a href="{$url}" class="tip" title="ВКонтакте"><img src="{$T_STATIC}/i/openid/48/vk.png" alt=""></a>
			{/if}
			{if $url = '\fw\modules\ucp\oauth\yandex::index'|url_for}
				<a href="{$url}" class="tip" title="Яндекс"><img src="{$T_STATIC}/i/openid/48/yandex.png" alt=""></a>
			{/if}
		</div>
		<h3 class="conversation-list-heading">
			<div class="inner">
				или
			</div>
		</h3>
		<form action="{$U_SIGNIN}" method="post">
			<label for="username_field">{'USERNAME_OR_EMAIL'|i18n}</label>
			<input type="text" class="input-block-level" id="username_field" name="username" tabindex="1">
			<label for="password_field">{'PASSWORD'|i18n} (<a href="{'sendpassword'|url_for}">{'FORGOT_PASSWORD'|i18n}</a>)</label>
			<input type="password" class="input-block-level" id="password_field" name="password" tabindex="2">
			{if not empty($ERROR_ATTEMPTS)}
				<label for="confirm_code_field">Код подтверждения</label>
				<div><img src="{'\fw\modules\captcha::index'|url_for}" alt="" id="confirm_code_image"></div>
				<div class="input-append">
					<input required name="confirm_code" id="confirm_code_field" class="span2" type="text" value="" tabindex="3">
					<a class="btn" id="refresh_confirm_code" href="#"><i class="icon-refresh"></i></a>
				</div>
				<div class="clearfix"></div>
			{/if}
			<label class="checkbox">
				<input type="checkbox" name="autologin" checked> {'AUTOLOGIN'|i18n}
			</label>
			<button class="btn btn-primary" type="submit" name="submit" tabindex="4">{'LOGIN'|i18n}</button>
			{$S_HIDDEN_FIELDS}
		</form>
	</div>
</div>

{if not empty($ERROR_ATTEMPTS)}
<script>
$('#refresh_confirm_code').bind('click', function() {
	$('#confirm_code_image').attr('src', '{'\fw\modules\captcha::index'|url_for}?' + Math.random());
	$('#confirm_code_field').val('').focus();
	return false;
});
</script>
{/if}
{/block}