{extends "base.html"}

{block "content"}
{if not empty($errors)}
	<div class="alert alert-error" data-dismiss="alert">
		<a class="close" href="#">&times;</a>
		<ul>
			{foreach $errors as $row}
				<li>{$row}</li>
			{/foreach}
		</ul>
	</div>
{/if}

<div class="boxed-group form-signin">
	<h3>{$page.page_name}</h3>
	<div class="boxed-group-inner">
		{$page.page_text}
		<form action="{'activate_password'|url_for:[$me.user_newpasswd]}" method="post">
			<div class="control-group">
				<label class="control-label" for="password_field">Введите новый пароль</label>
				<div class="controls">
					<input required type="password" id="password_field" class="input-block-level" name="password" tabindex="1">
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<button class="btn btn-primary" type="submit" name="submit" tabindex="2">Завершить восстановление</button>
				</div>
			</div>
		</form>
	</div>
</div>
{/block}