{extends "base.html"}

{block "content"}
{if not empty($errors)}
	<div class="alert alert-error" data-dismiss="alert">
		<a class="close" href="#">&times;</a>
		<ul>
			{foreach $errors as $row}
				<li>{$row}</li>
			{/foreach}
		</ul>
	</div>
{/if}

{if not empty($status) and $status == 'OK'}
	<div class="alert alert-success" data-dismiss="alert">
		<a class="close" href="#">&times;</a>
		На указанный адрес отправлено письмо с дальнейшими инструкциями по восстановлению.
	</div>
{else}
	<div class="boxed-group form-signin">
		<h3>{$page.page_name}</h3>
		<div class="boxed-group-inner">
			{$page.page_text}
			<form action="{'sendpassword'|url_for}" method="post">
				<div class="control-group">
					<label class="control-label" for="email_field">Email</label>
					<div class="controls">
						<input required type="email" id="email_field" class="input-block-level" name="email" tabindex="1">
					</div>
				</div>
				<div class="control-group">
					<div class="controls">
						<button class="btn btn-primary" type="submit" name="submit" tabindex="2">Начать процедуру восстановления</button>
					</div>
				</div>
			</form>
		</div>
	</div>
{/if}
{/block}