{extends "base.html"}

{block "content"}
{if not empty($errors)}
	<div class="alert alert-error" data-dismiss="alert">
		<a class="close" href="#">&times;</a>
		<ul>
			{foreach $errors as $row}
				<li>{$row}</li>
			{/foreach}
		</ul>
	</div>
{/if}

<div class="boxed-group form-signup">
	<h3>{'REGISTER'|i18n}</h3>
	<div class="boxed-group-inner">
		<p>Есть учетная запись в одном из этих сервисов? Тогда регистрация потребует всего два клика!</p>
		<div class="text-center">
			{if $url = '\fw\modules\ucp\oauth\facebook::index'|url_for}
				<a href="{$url}" class="tip" title="Facebook"><img src="{$T_STATIC}/i/openid/48/facebook.png" alt=""></a>
			{/if}
			{if $url = '\fw\modules\ucp\oauth\github::index'|url_for}
				<a href="{$url}" class="tip" title="GitHub"><img src="{$T_STATIC}/i/openid/48/github.png" alt=""></a>
			{/if}
			{if $url = '\fw\modules\ucp\oauth\google::index'|url_for}
				<a href="{$url}" class="tip" title="Google"><img src="{$T_STATIC}/i/openid/48/google.png" alt=""></a>
			{/if}
			{if $url = '\fw\modules\ucp\oauth\twitter::index'|url_for}
				<a href="{$url}" class="tip" title="Twitter"><img src="{$T_STATIC}/i/openid/48/twitter.png" alt=""></a>
			{/if}
			{if $url = '\fw\modules\ucp\oauth\vk::index'|url_for}
				<a href="{$url}" class="tip" title="ВКонтакте"><img src="{$T_STATIC}/i/openid/48/vk.png" alt=""></a>
			{/if}
			{if $url = '\fw\modules\ucp\oauth\yandex::index'|url_for}
				<a href="{$url}" class="tip" title="Яндекс"><img src="{$T_STATIC}/i/openid/48/yandex.png" alt=""></a>
			{/if}
		</div>
		<h3 class="conversation-list-heading">
			<div class="inner">
				или
			</div>
		</h3>
		<form action="{$U_REGISTER}" method="post">
			<label for="username_field">{'USERNAME'|i18n}</label>
			<input required name="username" id="username_field" class="input-block-level" type="text" value="{$me.username|default:''}" tabindex="1">
			<label for="email_field">{'EMAIL'|i18n}</label>
			<input required name="email" id="email_field" class="input-block-level" type="email" value="{$me.user_email|default:''}" tabindex="2">
			<label for="password_field">{'PASSWORD'|i18n}</label>
			<input required name="password" id="password_field" class="input-block-level" type="password" value="" tabindex="3">
			<label for="confirm_code_field">Код подтверждения</label>
			<div><img src="{'\fw\modules\captcha::index'|url_for}" alt="" id="confirm_code_image"></div>
			<div class="input-append">
				<input required name="confirm_code" id="confirm_code_field" class="span2" type="text" value="" tabindex="4">
				<a class="btn" id="refresh_confirm_code" href="#"><i class="icon-refresh"></i></a>
			</div>
			<div><button class="btn btn-primary" type="submit" name="submit" tabindex="5">Зарегистрироваться</button></div>
			{$S_HIDDEN_FIELDS|default:''}
		</form>
	</div>
</div>

<script>
$('#refresh_confirm_code').bind('click', function() {
	$('#confirm_code_image').attr('src', '{'\fw\modules\captcha::index'|url_for}?' + Math.random());
	$('#confirm_code_field').val('').focus();
	return false;
});
</script>
{/block}