{extends "base.html"}

{block "content"}
{if not empty($REGISTER_ERROR)}
	<div class="alert alert-error" data-dismiss="alert">
		<a class="close" href="#">&times;</a>
		<h4 class="alert-heading">Ошибка регистрации</h4>
		<ul>
			{foreach $REGISTER_ERROR as $row}
				<li>{$row}</li>
			{/foreach}
		</ul>
	</div>
{/if}
{if not empty($MESSAGE)}
	<div class="alert alert-error" data-dismiss="alert">
		<a class="close" href="#">&times;</a>
		{$MESSAGE}
	</div>
{/if}

<div class="boxed-group form-signup">
	<h3>{'REGISTER'|i18n}</h3>
	<div class="boxed-group-inner">
		<form action="{$U_REGISTER}" method="post">
			<label for="username_field">{'USERNAME'|i18n}</label>
			<input name="username" id="username_field" class="input-block-level" type="text" value="{$USERNAME|default:''}" tabindex="1">
			<label for="email_field">{'EMAIL'|i18n}</label>
			<input name="email" id="email_field" class="input-block-level" type="text" value="{$EMAIL|default:''}" tabindex="2">
			<label for="password_field">{'PASSWORD'|i18n}</label>
			<input name="password" id="password_field" class="input-block-level" type="password" value="{$PASSWORD|default:''}" tabindex="3">
			<label for="confirm_code_field">Код подтверждения</label>
			<div><img src="{'\\fw\\modules\\captcha::index'|url_for}" alt="" id="confirm_code_image"></div>
			<div class="input-append">
				<input name="confirm_code" id="confirm_code_field" class="span2" type="text" value="" tabindex="4">
				<button class="btn" id="refresh_confirm_code"><i class="icon-refresh"></i></button>
			</div>
			<div><button class="btn btn-primary" type="submit" name="submit" tabindex="5">Зарегистрироваться</button></div>
			{$S_HIDDEN_FIELDS|default:''}
		</form>
	</div>
</div>

<script>
$('#refresh_confirm_code').bind('click', function() {
	$('#confirm_code_image').attr('src', '{'\\fw\\modules\\captcha::index'|url_for}?' + Math.random());
	$('#confirm_code_field').val('').focus();
	return false;
});
</script>
{/block}