{extends "base.html"}

{block "content"}
<div class="row">
	<!-- <div class="span5">
		{if not $SKIP_OPENID}
			<div class="page-header">
				<h3>Вы можете авторизоваться через</h3>
			</div>
			{include "block/loginza.html"}
		{else}
			<div class="page-header">
				<h3>Вы выбрали быструю регистрацию</h3>
			</div>
			<p>Для получения учетной записи на сайте необходимо дозаполнить форму.</p>
		{/if}
	</div> -->
	<div class="span5 offset4">
		<div class="page-header">
			<h3>{if not $SKIP_OPENID}Регистрация на сайте{else}Завершение регистрации{/if}</h3>
		</div>
		{if $REGISTER_ERROR}
			<div class="alert alert-error" data-dismiss="alert">
				<a class="close" href="#">&times;</a>
				<h4 class="alert-heading">Ошибка регистрации</h4>
				<ul>
					{foreach $REGISTER_ERROR as $row}
						<li>{$row}</li>
					{/foreach}
				</ul>
			</div>
		{/if}
		{if $MESSAGE}
			<div class="alert alert-error" data-dismiss="alert">
				<a class="close" href="#">&times;</a>
				{$MESSAGE}
			</div>
		{/if}
		<form action="{$U_ACTION}" method="post" id="register_form">
			<input name="username" id="username" type="text" value="{$USERNAME}" placeholder="{'USERNAME'|i18n}" tabindex="1"><br>
			<input name="email" id="email" type="text" value="{$EMAIL}" placeholder="{'EMAIL'|i18n}" tabindex="2"><br>
			<input name="password" id="password" type="password" value="{$PASSWORD}" placeholder="{'PASSWORD'|i18n}" tabindex="3"><br>
			<img src="{'\\fw\\modules\\captcha::index'|url_for}" alt="" style="vertical-align: middle;" id="confirm_code_image"> &nbsp; <a href="#" id="refresh_confirm_code"><img src="//ivacuum.org/i/_/24/arrow_circle_double_135.png" alt="" style="vertical-align: middle;"></a><br>
			<input name="confirm_code" id="confirm_code" type="text" value="" placeholder="Код подтверждения" tabindex="4"><br>
			<input class="btn btn-primary" type="submit" name="submit" value="Зарегистрироваться" tabindex="5">
			{$S_HIDDEN_FIELDS}
		</form>
	</div>
</div>

<script>
$('#refresh_confirm_code').bind('click', function() {
	$('#confirm_code_image').attr('src', '{'\\fw\\modules\\captcha::index'|url_for}?' + Math.random());
	return false;
});
</script>
{/block}