{extends "email/base.html"}

{block "content"}
<p>Забыли свой пароль, {$me.username}?</p>
<p>Мы получили запрос на восстановление пароля к вашей учетной записи.</p>
<p>
	Чтобы восстановить пароль, пройдите по ссылке ниже:<br>
	<a href="http://{$S_SERVER_NAME}{'ucp\auth::activate_password'|url_for:[$me.user_newpasswd]}">
		http://{$S_SERVER_NAME}{'ucp\auth::activate_password'|url_for:[$me.user_newpasswd]}
	</a>
</p>
<p>Если вы не отправляли запрос, то просто проигнорируйте данное письмо.</p>
{/block}