{% extends "base.html" %}

{% block content %}
<table class="stats shadow-extralight" id="realtime_dls">
	<thead>
	<tr>
		<th class="block">Файл</th>
		<th>Время</th>
		<th class="number">Размер</th>
		<th>IP клиента</th>
	</tr>
	</thead>
	{% for row in dls %}
	<tr>
		<td><a href="//dl.ivacuum.ru/{{ row.ID }}/"><img src="//ivacuum.org/i/_/drive_download.png" alt="" /></a> <a href="{{ row.U_DETAILS }}"><b>{{ row.NAME }}</b></a></td>
		<td>{{ row.TIME }}</td>
		<td class="number">{{ row.SIZE }}</td>
		<td>{{ row.IP }}</td>
	</tr>
	{% endfor %}
</table>

<table id="new_dls_container" style="display: none;">
</table>

<script type="text/javascript">
var timestamp = {{ TIMESTAMP }};

function get_new_dls()
{
  $.get(encodeURI('{{ U_REALTIME }}'), { t: timestamp }, function(data) {
    $('#new_dls_container').append(data);
    timestamp = parseInt($('#timestamp').text());
    $('#time_container').remove();
    $('#realtime_dls tbody').prepend($('#new_dls_container tbody').html());
    $('#new_dls_container').empty();
    $("tr[rel='new_dls']").fadeIn().attr('rel', '');
  });

  // setTimeout('get_new_dls()', 5000);
}

$(document).ready(function() {
  // setTimeout('get_new_dls()', 5000);
});
</script>
{% endblock %}