{extends "base.html"}

{block "content"}
<h2>{'STATS_DOWNLOADS'|i18n}</h2>
<div class="row">
	<div class="span3">
		<h4>Всего файлов</h4>
		<p><img src="//ivacuum.org/i/_/documents.png" alt=""> {$TOTAL_FILES|number_format}</p>
	</div>
	<div class="span3">
		<h4>Занимаемый объём</h4>
		<p><img src="//ivacuum.org/i/_/chart_pie.png" alt=""> {$TOTAL_SIZE|humn_size}</p>
	</div>
	<div class="span3">
		<h4>Всего закачек</h4>
		<p><img src="//ivacuum.org/i/_/counter.png" alt=""> {$TOTAL_DLC|number_format}{if $TOTAL_TODAY_DLC > 0} <span style="color: green;">(+{$TOTAL_TODAY_DLC|number_format})</span>{/if}</p>
	</div>
	<div class="span3">
		<h4>Общий трафик</h4>
		<p><img src="//ivacuum.org/i/_/traffic_light.png" alt=""> {$TOTAL_TRAFFIC|humn_size}{if $TODAY_TRAFFIC > 0} <span style="color: green;">(+{$TODAY_TRAFFIC|humn_size})</span>{/if}</p>
	</div>
</div>

<br>

<table class="b-center table-stats ui-shadow-light">
	<thead>
	<tr>
		<th class="number">#</th>
		<th class="block">Название</th>
		<th class="number">Размер</th>
		<th class="number">Закачек <img src="//ivacuum.org/i/_/arrow_270.png" alt=""></th>
		<th class="number">+</th>
	</tr>
	</thead>
	{foreach $files as $row}
	<tr>
		<td class="number">{$row@iteration}</td>
		<td><a href="//dl.ivacuum.ru/{$row.ID}/"><img src="//ivacuum.org/i/_/drive_download.png" alt=""></a> <a href="{$row.U_DETAILS}"><b>{$row.NAME}</b></a></td>
		<td class="number">{$row.SIZE|humn_size}</td>
		<td class="number">{$row.DLC|number_format}</td>
		<td class="number" style="color: green; font-weight: bold;">{$row.TODAY_DLC}</td>
	</tr>
	{/foreach}
</table>
{/block}