{% extends "base.html" %}

{% block content %}
<fieldset class="ui-corner-all">
	<legend>Просмотров</legend>
	<p>
		В локальной сети: <img class="icons" src="//ivacuum.org/i/_/network_ethernet.png" alt="" /><b>{{ LOCAL_VIEWS|number_format }}</b> |
		В сети интернет: <img class="icons" src="//ivacuum.org/i/_/globe_green.png" alt="" /><b>{{ INTERNET_VIEWS|number_format }}</b>.
	</p>
</fieldset>

<br />

<table class="stats shadow-extralight">
	<thead>
	<tr>
		<th class="number">#</th>
		<th>Домен</th>
		<th class="number">Просмотров <img src="//ivacuum.org/i/_/arrow_270.png" alt="" /></th>
	</tr>
	</thead>
	{% for row in ref %}
	<tr>
		<td class="number">{{ loop.index }}</td>
		<td><a href="//{{ row.DOMAIN }}"><b>{{ row.DOMAIN }}</b></a></td>
		<td class="number">{{ row.VIEWS|number_format }}</td>
	</tr>
	{% endfor %}
</table>
{% endblock %}